# Development environment configuration files
.busted
.editorconfig
.luacheckrc
.luacov
.pongo/
.pongo/.bash_history

# servroot typically is the Kong working directory for tests
servroot

# exclude generated packed rocks
*.rock

# exclude Pongo containerid file
.containerid

# exclude LuaCov statistics file
luacov.stats.out

# exclude LuaCov report
luacov.report.out

# exclude LuaCov html report
luacov.report.html
