.kong-pongo/# servroot typically is the Kong working directory for tests
servroot
# exclude generated packed rocks
*.rock
# exclude Pongo directory and files
.pongo/
.containerid
# exclude development configuration files
.busted
.editorconfig
.luacheckrc
.luacov
# exclude LuaCov files
luacov.stats.out
luacov.report.out
luacov.report.html
